@font-face {
  font-family: "inter";
  src: url("../src/assets/fonts/Inter_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "action";
  src: url("../src/assets/fonts/Action_Man.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "butler";
  src: url("../src/assets/fonts/Butler_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --font-inter: "inter", sans-serif;
  --font-action: "action", sans-serif;
  --font-butler: "butler", sans-serif;
  --color-customWhite: #F7FCFE;
  --color-customBlack: #000000;

  --animate-fadeDown: fadeDown 0.3s ease-in-out;
  @keyframes fadeDown {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}